{% extends "base.html" %}
{% load static %}

	<div class="card">
		<div class="card-header pb-0">
			<div class="search-filters mb-3">
				<form method="get" action="{% url 'get_doctors_by_specialisation' %}">
					<div class="row g-5 align-items-stretch">
						<!--  Поле ввода для категории с чекбоксами -->
						<div class="col-auto">
							<div class="dropdown h-100">
								<button class="btn btn-outline-secondary dropdown-toggle h-100" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
									Select Category
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">

								</ul>
							</div>
						</div>


						<!-- Поле ввода для страны с чекбоксами -->
						<div class="col-auto">
							<div class="dropdown h-100">
								<button class="btn btn-outline-secondary dropdown-toggle h-100" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
									Select Country
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">

								</ul>
							</div>
						</div>
					
						<!-- Поля ввода для поиска -->
						<div class="col-auto">
							<input type="text" name="state" class="form-control h-100" placeholder="Search by State" value="{{ request.GET.state }}">
						</div>
						<div class="col-auto">
							<input type="text" name="city" class="form-control h-100" placeholder="Search by City" value="{{ request.GET.city }}">
						</div>
						<div class="col-auto">
							<input type="text" name="postcode" class="form-control h-100" placeholder="Search by Postcode" value="{{ request.GET.postcode }}">
						</div>
						<div class="col-auto">
							<button type="submit" class="btn btn-primary h-100">Search</button>
						</div>
					</div>				
				</form>
			</div>			
		</div>

		<div class="card-body">
			<table class="table tasks-list" style="table-layout: fixed;">
    <thead>
        <tr>
            <th style="width: 120px;">Category</th>
            <th style="width: 160px;">Name</th>
            <th style="width: 100px;">Rating</th>
            <th style="width: 120px;">Reviews</th>
            <th style="width: 120px;">Country</th>
            <th style="width: 120px;">State</th>
            <th style="width: 120px;">City</th>
            <th style="width: 120px;">Postcode</th>
            <th style="width: 140px;">Place Type</th>
            <th style="width: 95px;">Phone</th>
            <th style="width: 90px;">Email</th>
            <th style="width: 110px;">Website</th>
            <th style="width: 160px;">Socials</th>
        </tr>
    </thead>
    <tbody>
    {% for doctor in doctors %}
        <tr>
            <!-- Специализация -->
            <td>
                {% for specialization in doctor.specialisations.all %}
                    {{ specialization.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    -
                {% endfor %}
            </td>

            <!-- Имя доктора -->
            <td>
                <a href="{{ doctor.profile_url }}" target="_blank">
                    {{ doctor.name|default:"-" }}
                </a>
            </td>

            <!-- Рейтинг доктора -->
            <td class="text-break">{{ doctor.rating|default:"-" }}</td>

            <!-- Количество отзывов (если есть) -->
            <td class="text-break">{{ doctor.num_reviews|default:"-" }}</td>

            <!-- Страна -->
            <td class="text-break">{{ doctor.city|default:"-" }}</td>

            <!-- Штат/Регион -->
            <td class="text-break">{{ doctor.city.state|default:"-" }}</td>

            <!-- Город -->
            <td class="text-break">{{ doctor.city|default:"-" }}</td>

            <!-- Почтовый индекс -->
            <td class="text-break">{{ doctor.postcode|default:"-" }}</td>

            <!-- Тип места работы -->
            <td class="text-wrap">{{ doctor.place_type|default:"-" }}</td>

            <!-- Телефон -->
            <td class="text-center">
                {% if doctor.phone %}
                    <div class="text-success bg-success bg-opacity-25">
                        Yes
                    </div>
                {% else %}
                    <div class="text-danger bg-danger bg-opacity-25">
                        No
                    </div>
                {% endif %}
            </td>

            <!-- Email -->
            <td class="text-center">
                {% if doctor.email %}
                    <div class="text-success bg-success bg-opacity-25">
                        Yes
                    </div>
                {% else %}
                    <div class="text-danger bg-danger bg-opacity-25">
                        No
                    </div>
                {% endif %}
            </td>

            <!-- Сайт -->
            <td class="text-center px-2" style="width: 50px;">
                {% if doctor.site_url %}
                    <a href="{{ doctor.site_url }}">
                        <i class="ph ph-link"></i>
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>

            <!-- Социальные сети -->
            <td class="text-center" style="gap: 5px; flex-wrap: wrap;">
                {% if doctor.facebook %}
                    <a href="{{ doctor.facebook }}" target="_blank">
                        <i class="ph ph-facebook-logo"></i>
                    </a>
                {% endif %}

                {% if doctor.instagram %}
                    <a href="{{ doctor.instagram }}" target="_blank">
                        <i class="ph ph-instagram-logo"></i>
                    </a>
                {% endif %}

                {% if doctor.youtube %}
                    <a href="{{ doctor.youtube }}" target="_blank">
                        <i class="ph ph-youtube-logo"></i>
                    </a>
                {% endif %}

                {% if doctor.twitter %}
                    <a href="{{ doctor.twitter }}" target="_blank">
                        <i class="ph ph-twitter-logo"></i>
                    </a>
                {% endif %}

                {% if doctor.linkedin %}
                    <a href="{{ doctor.linkedin }}" target="_blank">
                        <i class="ph ph-linkedin-logo"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="12" class="text-center">No doctors available</td>
        </tr>
    {% endfor %}
</tbody>
</table>
		</div>
	</div>
