.content-inner {
    padding-left: 100px;
    padding-right: 100px;
}

.contacts {
    border-radius: 8px;
}

.card {
    margin: 15px !important;
    border-radius: 10px;
}

.profile-cover-img {
    height: 300px;
}

.card-doctor {
    margin-top: 200px;
}
.doctor-info {
    width: 15%;
    height: 100%;
    float: right;
    object-fit: cover;
}

.doctor-image {
    height: 300px;
    width: 500px;
    float: left;
    object-fit: cover;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}


.custom-profile-thumb img {
    width: 160px; /* Установи нужную ширину */
    height: 160px; /* Установи нужную высоту */
    object-fit: cover; /* Для сохранения пропорций */
    margin-right: 15px;
    margin-top: 20px;
    border: 4px solid #fff; /* Белая обводка */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для объема */
}


.sidebar-content {
    margin: 20px;
}

.limited-width {
    max-width: 800px; /* можно поставить 100%, 600px, или любое значение */
    width: 100%;
    margin: 0 auto; /* по центру */
}

.specialisation-block {
    display: flex;
    flex-direction: row; /* это значение по умолчанию, можно не указывать */
    width: min-content;
    height: min-content;
    border: 1px solid black;
    text-align: center;
    padding: 1px 3px;
    border-radius: 5px;
}


.specialisation {
  height: 100%;
  width: 100%;
  border-left: 3px solid #007bff; /* Синяя полоска слева */
  padding-left: 10px;             /* Отступ от полоски до текста */
  background-color: #f9f9f9;      /* Светлый фон, чтобы выглядело аккуратно */
}


