

.contacts {
    margin-top: 20px;
}

.card {
    margin: 10px;
    border-radius: 0;
}

.content {
    padding: 0;
}

.card-header {
    border-bottom: none !important;
}

.doctor-name{
    display: flex;
    flex-wrap: nowrap; /* чтобы не переносились */
    gap: 10px; /* отступ между элементами */
}